#mon {
    margin-top: 50px;
    background-color: lightblue;
    width: 320px;
    height: 320px;
    position: relative;
}

#pilota {
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    animation: movVertical 1s ease-in 2 alternate infinite;

}

#vertical {    
    background-color: black;    
    width: 50px;
    height: 75%;        
} 

#terra {
    background-color: green;
    height: 50px;
    height: 100px;
}

#ombra {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 50%;    
}

@keyframes movVertical {
    from {        
        top:0;
    }

    to {
        top:75%;
    }
    
}