#mon {
    margin-top: 50px;
    background-color: lightblue;
    width: 320px;
    height: 320px;
    position: relative;
}

#pilota {
    background-color: yellow;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    animation: movVertical .7s ease-in  alternate infinite;
    z-index: 100;
}

#vertical {    
    border:1px solid black;
    width: 50px;
    height: 75%;  
    top:0;
    position: absolute;
    animation: movHoritzontal 3.4s linear  infinite alternate;      
} 

#terra {
    background-color: green;
    height: 50px;
    height: 100px;
    position: relative;
    top:50%;    
}

#ombra {
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    border-radius: 50%;  
    position: absolute;  
    top:75%;    
    animation: ombra .7s ease-in infinite alternate;
    transform-origin: center;
    filter: blur(5px);
}


@keyframes movHoritzontal {
    from {
        transform:translateX(0);
    }
    to {
        transform:translateX(270px);
    }
    
}

@keyframes ombra {
    from {
        opacity: 0;        
        transform: scale(20%)
    }
    to {
        opacity: .5;
        transform: scale(70%)
    }    
}

@keyframes movVertical {
    from {        
        top:0;
    }

    to {
        top:75%;
    }
    
}